<nav class="app_nav-banner navbar navbar-expand-lg navbar-light bg-light">
  <div class="w-100">
    <a class="app_nav-banner__title navbar-brand" routerLink="/home">INNO<span class="secondary-color">CEUVE</span></a>
    <button class="navbar-toggler float-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="show = !show">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent" [ngClass]="show ? 'show' : ''">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="home ? 'active' : ''">
        <a class="nav-link" routerLink="/home" (click)="saveItem('home')">
          <span class="fas fa-home" aria-hidden="true"></span>
          Inicio
          </a>
      </li>
      <li class="nav-item" [ngClass]="employee ? 'active' : ''">
        <a class="nav-link" routerLink="/employee" (click)="saveItem('employee')">
          <span class="app_nav-banner__icons far fa-address-book" aria-hidden="true"></span>Plantilla
        </a>
      </li>
    </ul>
  </div>
</nav>
