<section aria-label="Formulario para rellenar los datos del empleado">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm)">
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name" formControlName="name">

    <label for="date">Fecha de nacimiento</label>
    <input type="date" name="date" id="date" formControlName="date">

    <nav aria-labelledby="save clear">
      <button class="btn btn-success" id="save" type="submit" [disabled]="!employeeForm.valid">
        <span class="fas fa-user-check" aria-hidden="true"></span>
        {{ config.button }}
      </button>
      <button class="btn btn-primary" id="clear" type="reset" >
        <span class="fas fa-eraser" aria-hidden="true"></span>
        Limpiar
      </button>
    </nav>
  </form>
</section>
