.app_employee
  &__list
    list-style: none
    padding-left: 0
    margin: 0 15px
    &--item
      background-color: rgba(91, 187, 255, .1)
      border-top: 1px solid lightgray
      border-bottom: 1px solid lightgray
      margin-bottom: 10px
      padding: 5px 0
      &__name
        font-weight: bold
        line-height: 38px
        padding-left: 10px

  &__search-icon
    position: absolute
    display: block
    width: 2.375rem
    height: 2.375rem
    line-height: 2.375rem
    text-align: center
    pointer-events: none
    color: #aaa

  &__search-input
    padding-left: 35px

  &__new-button
    margin: 26px 0 20px 0
    height: 40px
