<div class="app_employee">
  <header aria-labelledby="title">
    <app-title>Plantilla de INNOCEUVE</app-title>
    <p>Lista de empleados que trabajan en INNOCEUVE</p>
  </header>

  <section class="row" aria-label="Filtro de búsqueda de empleados">
    <div class="col-8 col-sm-9">
      <label for="search-employee">Filtrar</label>
      <span class="fa fa-search app_employee__search-icon"></span>
      <input class="app_employee__search-input form-control" type="search" id="search-employee" name="search-employee" [(ngModel)]="query" placeholder="Buscar por nombre...">
    </div>

    <nav class="col" aria-labelledby="new">
      <button class="btn btn-info app_employee__new-button" id="new" type="button" title="Registrar nuevo empleado" (click)="newEmployee()">
        <span class="fas fa-user-plus" aria-hidden="true"></span>
        Nuevo
      </button>
    </nav>
  </section>

  <section aria-label="Lista de empleados">
    <ul class="app_employee__list" *ngIf="employeeList">
      <li class="app_employee__list--item row" *ngFor="let employee of employeeList | search: 'name' : query">
        <div class="col-sm-6 col-12">
          <span class="app_employee__list--item__name">{{ employee.name }}</span>
        </div>
        <div class="col">
          <button class="btn btn-primary" type="button" (click)="editEmployee(employee.id)">
            <span class="fas fa-user-edit" aria-hidden="true"></span>
            Editar
          </button>
        </div>
        <div class="col">
          <button class="btn btn-danger" type="button" title="Eliminar empleado seleccionado" (click)="removeEmployee(employee.id)">
            <span class="fas fa-user-times" aria-hidden="true"></span>
            Eliminar
          </button>
        </div>
      </li>
    </ul>
  </section>

  <section aria-labelledby="unregistered" *ngIf="!employeeList">
    <span id="unregistered">No hay ningún empleado registrado</span>
  </section>
</div>
